.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20;
  /* border: 1px solid black; */
  text-align: center;
}
.title {
  padding: 2px;
  margin-left: 16px;
  font-weight: bolder;
  font-family: fantasy;
  font-size: x-large;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  padding: 3px;
  margin-right: 2%;
  border-radius: 4px;
}
.wishlist-header-btn {
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  width: 120px;
  border-radius: 4px;
}
.cart-btn {
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 16px;
  background: rgb(212, 116, 135);
  width: 120px;
}
.hide-cart-number {
  visibility: hidden;
}
